# Java
*.class
*.log
target/

# IntelliJ
.idea/

# VS Code
.vscode/

# Node
node_modules/

# Env
.env

# OS
.DS_Store

# Maven
.mvn/wrapper/maven-wrapper.jar

# Spring local config
application-local.yml
application-local.properties

# Database
*.db
*.sqlite

# Linux
*~